@import "modules/mixins";
@import "modules/variables";

.navbar-dark .navbar-nav a.nav-link.btn-shop {
    color: $yellow;
}

.jumbotron,
footer {
    background-color: $dark-light;
    color: $white;
}

.jumbotron {
    @include backg-image("../img/black.jpg");
    background-position: top;
    opacity: 0.9;
}

.icon-3 {
    font-size: 3em;
}

button.btn.btn-block {
    background-color: $orange;
    color: $white;
}

.cover {
    display: block;
}

.parralax {
    position: relative;
    height: 300px;
    @include backg-image("../img/morral.jpg");
    background-position: center;
    background-attachment: fixed;
}

.parralax p {
    box-sizing: border-box;
    padding: 0.2em;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    width: auto;
    bottom: 0;
    right: 0;
    color: $white;
}

.card-title {
    @include text-center;
}

.images img {
    max-width: -webkit-fill-available;
    border-radius: $border-radius;
}

footer a {
    color: $white;
}

footer a:hover,
.btn:hover {
    @include text-decoration;
    color: $white;
    opacity: 0.9;
}

.image-logo img {
    width: auto;
    height: 150px;
}

.image-logo {
    margin: 0;
    opacity: 0.9;
}

button.btn.btn-link.btn-block.text-center.collapsed:focus {
    @include text-decoration;
}