.navbar-dark .navbar-nav a.nav-link.btn-shop {
  color: #E8C547; }

.jumbotron,
footer {
  background-color: #343a40;
  color: #FFFFFF; }

.jumbotron {
  background-image: url("../img/black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.9; }

.icon-3 {
  font-size: 3em; }

button.btn.btn-block {
  background-color: #F0A202;
  color: #FFFFFF; }

.cover {
  display: block; }

.parralax {
  position: relative;
  height: 300px;
  background-image: url("../img/morral.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.parralax p {
  box-sizing: border-box;
  padding: 0.2em;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
  color: #FFFFFF; }

.card-title {
  text-align: center; }

.images img {
  max-width: -webkit-fill-available;
  border-radius: 4px; }

footer a {
  color: #FFFFFF; }

footer a:hover,
.btn:hover {
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.9; }

.image-logo img {
  width: auto;
  height: 150px; }

.image-logo {
  margin: 0;
  opacity: 0.9; }

button.btn.btn-link.btn-block.text-center.collapsed:focus {
  text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
