@mixin full{
    width: 100%;
    height: 100%;
}

@mixin text-center{
    text-align: center;
}

@mixin text-decoration{
    text-decoration: none;
}

@mixin backg-image($path){
    background-image: url($path);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin transition{
    transition: all 0.6s ease-out;
}